bin
bincover
n2kreplays

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Editor files
*.swp
*~
\#*\#
.idea/*
TAGS
*.sublime-project
*.sublime-workspace
.\#*
.dir-locals.el

# Test binary, build with "go test -c"
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Generated local pgngen inputs/diagnostics
canboatjson*.cache
range_min_max_discrepancies.csv

# Log files
*.log

# Releases and other binaries
bin/
dist/
.dist/
CHANGELOG.md

# Don't. Commit. Vendor. Or other package manager dep directories
node_modules
vendor

# macOS
.DS_Store

# Task local state
.task

# VSCode debugger launch configs
launch.json

## <<Stencil::Block(custom)>>

## <</Stencil::Block>>
